@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Chelsea+Market|IM+Fell+English:400,400italic);


/* Standard shiz */
	
	html { 
		background-color: #bada55; /* Purposefully here */
		background: url(../img/bg.jpeg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	} /* Thanks Mr. Coyier http://css-tricks.com/perfect-full-page-background-image */


/* HEADER */

	header {
		max-width: 960px;
		margin: 0px auto;
		padding-top: 10px; 
		text-align: center;
		background: url(../img/paper.png) no-repeat center center; 
	}

 	span.intro, time {
		display: block;
		font-family: "IM Fell English", serif;
		color: #7B5F3A;
	}

	span.intro {
		font-size: 28px;
		letter-spacing: 6px;
		word-spacing: 3px;
		padding: 80px 0px 30px 0px;
		font-style: italic;
	}

	h1 {
		text-transform: lowercase;
		font-size: 140px;
		font-family: "Chelsea Market", sans-serif;
		line-height: auto;
		word-spacing: -10px;
		letter-spacing: -1px;
		color: #40231D;
	}

	h2 {
		font-size: 46px;
		font-family: "Love Ya Like A Sister", sans-serif;
		padding: 60px 0px;
		color: #5C311F;
	}

	time {
		letter-spacing: 2px;
		padding: 20px 0px 100px 0px;
		text-transform: uppercase;
	}